images:
  pullPolicy: IfNotPresent
  operator: "ghcr.io/nikhiljha/mycelium_operator:{{ .Chart.AppVersion }}"
  runner: "ghcr.io/nikhiljha/mycelium_runner:{{ .Chart.AppVersion }}"

plugins:
  mycelium:
    velocity: "https://www.ocf.berkeley.edu/~njha/artifacts/mycelium-velocity-{{ .Chart.AppVersion }}.jar"
    paper: "https://www.ocf.berkeley.edu/~njha/artifacts/mycelium-paper-{{ .Chart.AppVersion }}.jar"
  metrics:
    velocity: "https://github.com/Cubxity/UnifiedMetrics/releases/download/v0.3.x-SNAPSHOT/unifiedmetrics-platform-velocity-0.3.8-SNAPSHOT.jar"
    paper: "https://github.com/Cubxity/UnifiedMetrics/releases/download/v0.3.x-SNAPSHOT/unifiedmetrics-platform-bukkit-0.3.8-SNAPSHOT.jar"

# resources for the operator ONLY -  server and proxy resources
# are managed in the MinecraftSet and MinecraftProxy CRDs
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 100Mi
